.reserve_btn{
    padding: 7px 15px;
    background: #000d6b;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 150px;
    margin-top: 290px;
}