.search__page-bar{
    border-radius: 10px;
    border: 1px solid gray;
    height: 50px;
    width: 300px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.radio{
    display: none;
}

.radio-label{
    border: 1px solid gray;
    padding: 5px 10px;
}

